!!!5
%html
  %head
    %title SICP Distilled
    %link{ href: '/css/style.css', rel: :stylesheet }
    %link{ href: "http://fonts.googleapis.com/css?family=Droid+Serif", rel: 'stylesheet', type:'text/css' }
  %body
    .menu
      %img.menu__header{ src: '/images/sicp2.jpg', alt: "SICP Distilled"}
      %h1.menu__title SICP Distilled
      %h2 Ch0 - Preamble
      %ul.menu__list
        %li
          %a{href: 'slides/0.1'}
            0.1 Intro
        %li
          %a{href: 'slides/0.2'}
            0.2 Lambda Calculus
      %h2 Ch1 - Building Abstractions With Procedures
      %ul.menu__list
        %li
          %a{:href => '/slides/1.1/'}
            1.1 - The Elements Of Programming
        %li
          %a{:href => '/slides/1.2/'}
            1.2 - Procedures and the Processes They Generate
        %li
          %a{:href => '/slides/1.3/'}
            1.3 - Formulating Abstractions with Higher-Order Procedures
      %h2 Ch2 - Building Abstractions With Data
      %ul.menu__list
        %li
          %a{:href => '/slides/2.1/'}
            2.1 - Introduction to Data Abstraction
        %li
          %a{:href => '/slides/2.2/'}
            2.2 - Hierarchical Data and the Closure Property
        %li
          %a{:href => '/slides/2.2.4/'}
            2.2.4 - Escher
        %li
          %a{:href => '/slides/2.3/'}
            2.3 - Symbolic Data
        %li
          %a{:href => '/slides/2.4/'}
            2.4 - Multiple Representations for Abstract Data
    .container.menu--push
      %h1 Testing
