!!!5
%html
  %head
    %title SICP Distilled
    %link{ href: '/css/style.css', rel: "stylesheet" }
    %link{ href: '/css/github.min.css', rel: "stylesheet" }
    - if environment == :development
      %link{ href: "http://fonts.googleapis.com/css?family=Droid+Serif", rel: 'stylesheet', type:'text/css' }
    - if environment == :production
      %link{ href: "/css/font.css", rel: "stylesheet" }
    %script{ src: "/highlight.js" }
    %script hljs.initHighlightingOnLoad();
  %body
    .menu
      %img.menu__header{ src: '/images/sicp2.jpg', alt: "SICP Distilled"}
      %h1.menu__title SICP Distilled
      %h2 Ch0 - Preamble
      %ul.menu__list
        %li
          %a{href: '/section/0.1/'}
            0.1 Intro
        %li
          %a{href: '/section/0.2/'}
            0.2 Lambda Calculus
      %h2 Ch1 - Building Abstractions With Procedures
      %ul.menu__list
        %li
          %a{:href => '/section/1-intro/'}
            Introduction
        %li
          %a{:href => '/section/1.1/'}
            1.1 - The Elements Of Programming
        %li
          %a{:href => '/section/1.2/'}
            1.2 - Procedures and the Processes They Generate
        %li
          %a{:href => '/section/1.3/'}
            1.3 - Formulating Abstractions with Higher-Order Procedures
      %h2 Ch2 - Building Abstractions With Data
      %ul.menu__list
        %li
          %a{:href => '/section/2.1/'}
            2.1 - Introduction to Data Abstraction
        %li
          %a{:href => '/section/2.2/'}
            2.2 - Hierarchical Data and the Closure Property
        %li
          %a{:href => '/section/2.2.4/'}
            2.2.4 - Escher
        %li
          %a{:href => '/section/2.3/'}
            2.3 - Symbolic Data
        %li
          %a{:href => '/section/2.4/'}
            2.4 - Multiple Representations for Abstract Data
      %h2 Ch3 - Modularity, Objects, and State
      %h2 Ch4 - Metalinguistic Abstraction
      %ul.menu__list
        %li
          %a{:href => '/section/4.1/'}
            4.1 - The Metacircular Evaluator
        %li
          %a{:href => '/section/halting/'}
            The Halting Problem
        %li
          %a{:href => '/section/y/'}
            The Y Combinator
        %li
          %a{:href => '/section/4.2/'}
            4.2 - Lazy Evaluation
        %li
          %a{:href => '/section/4.3/'}
            4.3 - Nondeterministic Computing
        %li
          %a{:href => '/section/4.4/'}
            4.4 - Logic Programming

    .container.menu--push
      ~ yield
